<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Secure Calculator</title>
    <script type="text/javascript" src="/static/js/main.js">
      //alert(`This is a message from the script in the head segment`)

    </script>

  </head>
  <body>
    <h1>Welcome to the Secure REST Caluclator</h1>
    <a href="/login">Click to Login</a>

    <p id="paragraph_field">This is the inintial paragraph</p>

    <button type="button" name="btnChangeParagraph" onclick="updateParagraph()">Click to Change the Paragraph</button>
  </body>
</html>
