<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Secure Calculator - Login</title>
  </head>
  <body>
    <h1>Secure Calculator - Login Page</h1>
    <form action="/authenticate" method="post">
      <label for="">Username: </label>
      <input type="text" name="username" />
      <br>
      <label for="">Password: </label>
      <input type="password" name="password" />
      <br>
      <input type = "submit" value = "Login" />
    </form>
  </body>
</html>
